<!-- <h1 class="mat-display-1">Manage Coaches</h1>
<md-card>
  <md-card-content>
    <md-form-field>
      <input type="text" mdInput [formControl]="teamMemberControl" [mdAutocomplete]="auto" placeholder="Select a Team Member">
    </md-form-field>
    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName">
      <md-option *ngFor="let teammember of filteredTeamMembers | async" [value]="teammember">
        {{ teammember.TeamMemberLastName}}, {{ teammember.TeamMemberFirstName }}
      </md-option>
    </md-autocomplete>
    <section *ngIf="selectedTeamMember | async; let selectedTeamMember">
      <h2>Team Member Information:</h2>
      <md-list>
        <md-list-item>
          <h4>First Name: </h4> {{selectedTeamMember.TeamMemberFirstName}}</md-list-item>
        <md-list-item>
          <h4>Last Name: </h4> {{selectedTeamMember.TeamMemberLastName}}</md-list-item>
        <md-list-item>
          <h4>Coach First Name: </h4> {{selectedTeamMember.CoachFirstName}}</md-list-item>
        <md-list-item>
          <h4>Coach First Name: </h4> {{selectedTeamMember.CoachLastName}}</md-list-item>
      </md-list>
    </section>
  </md-card-content>
</md-card> -->
