<h1 class="mat-display-1">View Coaches</h1>

<md-card>
  <md-card-content>
    <md-form-field>
      <input type="text" mdInput [formControl]="teamMemberControl" [mdAutocomplete]="auto" placeholder="Select a Coach">
      <md-hint>Only team members that are currently coaches will be shown</md-hint>
    </md-form-field>
    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName" (optionSelected)="onCoachSelected()">
      <md-option *ngFor="let coach of filteredTeamMembers | async" [value]="coach">
        {{ coach.CoachLastName}}, {{ coach.CoachFirstName }}
      </md-option>
    </md-autocomplete>
    <section *ngIf="selectedCoach">
      table
    </section>
  </md-card-content>
</md-card>
