<h4 class="mat-subheading-1">Associated Team members</h4>
<mat-table #table [dataSource]="dataSource">
  <!-- First Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Team Member Name </mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-button (click)="onAssignCoach(element.TeamMemberId)">{{element.LastFirstName}}</button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
