<h1 class="mat-display-1">Assign a coach</h1>
<md-card>
  <md-card-title>
    <span>Select a Team Member</span>
  </md-card-title>
  <md-card-content>
    <md-form-field>
      <input type="text" mdInput [formControl]="teamMemberControl" [mdAutocomplete]="auto">
    </md-form-field>
    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName">
      <md-option *ngFor="let teammember of filteredTeamMembers | async" [value]="teammember">
          {{ teammember.TeamMemberLastName}}, {{ teammember.TeamMemberFirstName }}
      </md-option>
    </md-autocomplete>
  </md-card-content>
</md-card>
<md-card *ngIf="selectedTeamMember | async; let selectedTeamMember">
  <md-card-title>
    Team Member Information:
  </md-card-title>
  <md-card-content>
    <p><span class="mat-body-2">Team Member First Name:</span> {{selectedTeamMember.TeamMemberFirstName}}</p>
    <p><span class="mat-body-2">Team Member Last Name:</span> {{selectedTeamMember.TeamMemberLastName}}</p>
    <p><span class="mat-body-2">Coach First Name:</span> {{selectedTeamMember.CoachFirstName}}</p>
    <p><span class="mat-body-2">Coach First Name:</span> {{selectedTeamMember.CoachLastName}}</p>
  </md-card-content>
</md-card>
