<h1 class="mat-display-1">Assign a coach</h1>
<md-card>
  <md-card-content>
    <md-form-field>
      <input type="text" mdInput [formControl]="teamMemberControl" [mdAutocomplete]="auto" placeholder="Select a Team Member">
    </md-form-field>
    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName">
      <md-option *ngFor="let teammember of filteredTeamMembers | async" [value]="teammember">
        {{ teammember.TeamMemberLastName}}, {{ teammember.TeamMemberFirstName }}
      </md-option>
    </md-autocomplete>
    <section *ngIf="selectedTeamMember | async; let selectedTeamMember">
      <h2>Team Member</h2>
      <p><span class="mat-body-2">Name: </span>{{selectedTeamMember.TeamMemberFirstName}} {{selectedTeamMember.TeamMemberLastName}}</p>
      <p><span class="mat-body-2">Coach: </span>{{selectedTeamMember.CoachFirstName}} {{selectedTeamMember.CoachLastName}}</p>
      <md-form-field>
        <input type="text" mdInput [formControl]="coachControl" [mdAutocomplete]="auto" placeholder="Select a Coach">
      </md-form-field>
      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let teammember of filteredTeamMembers | async" [value]="teammember">
          {{ teammember.TeamMemberLastName}}, {{ teammember.TeamMemberFirstName }}
        </md-option>
      </md-autocomplete>
      <section *ngIf="selectedTeamMember.CoachFirstName; else noCoach">
        <button md-raised-button color="accent">Update Coach</button>
      </section>
      <ng-template #noCoach>
        <button md-raised-button color="accent">Assign Coach</button>
      </ng-template>
    </section>
  </md-card-content>
</md-card>
