<md-toolbar class="mat-typography transparent-background">
  <img src="../../assets/images/schenck-logo.png">
  <button md-button color="primary" routerLink="/home">Team Member</button>
  <button md-button color="primary" routerLink="/coach">Coach</button>
  <button md-button color="primary" routerLink="/admin">Admin</button>
  <span class="toolbar-spacer"></span>
  <md-icon>person</md-icon>
  <span>{{(defaultTeamMember$ | async)?.FirstName}} {{(defaultTeamMember$ | async)?.LastName}}</span>
  <button md-button (click)="onLogout()">logout</button>
  <md-toolbar-row *ngIf="(defaultTeamMember$ | async)?.TeamMemberId !== (emulatedTeamMember$ | async)?.TeamMemberId">
    <span class="toolbar-spacer"></span>
    <span style="color: red">Logged in as: {{(emulatedTeamMember$ | async)?.FirstName}} {{(emulatedTeamMember$ | async)?.LastName}}</span>
    <button md-button color="warn" (click)="resetToDefaultTeamMember()">Stop impersonating</button>
  </md-toolbar-row>
</md-toolbar>
