/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500';

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app{
  height: 100vh;
}

.success {
  background-color: #afdda3;
  color: #329620;
  border-radius: 2px;
  padding: .5em
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.error {
  background-color: #ffcdd2;
  color: #b71c1c;
  border-radius: 2px;
  padding: .5em
}
